#podpowiedzi {
	position: absolute;
    left: 380px;
	z-index: 1000;
	width: 400px;
	min-height: 200px;
	border: #000 solid 1px;
	background-color: #fff;
	display: none;
}

.podpowiedz {
	cursor: pointer;
	margin: 5px;
}
.podpowiedz:hover {
	background-color: #eee;
}
.podpowiedz .slowo {
	font-weight: bold;
}
.wynik {
	display: block;
	margin: 30px;
	cursor: pointer;
}
.wynik .tytul {
	color: #1a0dab;
	font-size: 25px;
}
.wynik .link {
	color: #006621;
	text-decoration: none;
}
.wynik img {
	display: none;

}
#szablonWyniku {
	display: none;
}
#tekstDoWyszukania {
    color: black;
}
#przyciskSzukaj {
    position: absolute;
    right: 380px;
    color: blue;
    
}